body {
    background-color: #bde0fe; 
    margin: 0;
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI', sans-serif;
    color: #093070; 
}

main {
    padding: 10px;
}

header {
    background-color: #BDB2FF; 
    color: #093070; 
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    margin-bottom: 20px;
}

aside {
    width: 220px;
    max-width: 250px;
    background-color: #C9F9D9;
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comentario {
  background-color: #BDB2FF;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  color: #093070; 
  display: grid;
  margin-left: 15%;
}

.comentario p {
  margin: 10px 0;
}

.topico-principal {
  background-color: #BDB2FF; 
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px 0 20px 0;
  display: grid;
  color: #093070; 
}

.topico-principal h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.topico-principal p {
  margin: 5px 0;
}

.comentar-forum {
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    background-color: #bde0fe; 
    color: #093070; }

form#comentarios-forum textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #BDB2FF;
    resize: none;
    font-family: inherit;
    color: #093070;
    background-color: #EAF7F9;
}

form#comentarios-forum button {
    background-color: #093070; 
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 10px;
    max-width: 600px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form#comentarios-forum button:hover {
    background-color: #BDB2FF; 
    color: #093070;
}

button {
  background-color: #093070; 
  color: white;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #BDB2FF; 
  color: #093070;
}
